.header {
    
    display: flex;
    justify-content: center;
}

h5 {
    justify-content: center;
    display:flex
}

img {
    max-width: 100px;
    max-height: 100px;
    padding: 15px;
}

.main-container {
    display: flex;
    justify-content: center;
}

.player-option {

    border-color: black;
    border-width: 2px;
    border-style: groove;
    padding: 20px;
    margin: 30px;
}

.score-container {

    display: flex;
    justify-content: center;
}

.player-score, .computer-score {
   
    padding: 20px;
    margin: 30px;
  }

.result-info {

    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: center;
    border-style: ridge;
    border-width: 1px;
    border-color: black;
    max-width: 300px;
    padding: 20px;
    margin: 30px;
}
